 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 831px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 70px auto 58px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 721px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 500px;
  left: auto;
  right: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 721px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-2 {
  width: 242px;
  height: 242px;
  box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
  background-image: url("images/nike3.jpg");
  background-position: 50% 50%;
  margin: 57px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 141px;
  width: 141px;
  margin: -231px 91px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 100px -2px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.11111rem;
  margin: 41px 18px 57px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 668px;
  }

  .u-section-1 .u-image-1 {
    width: 412px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 668px;
  }

  .u-section-1 .u-image-2 {
    width: 200px;
    height: 200px;
    margin-top: 47px;
  }

  .u-section-1 .u-icon-1 {
    height: 116px;
    width: 116px;
    margin-top: -200px;
    margin-right: 76px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 117px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -41px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 555px;
  }

  .u-section-1 .u-image-1 {
    width: 304px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 555px;
  }

  .u-section-1 .u-image-2 {
    width: 182px;
    height: 182px;
    margin-top: 26px;
  }

  .u-section-1 .u-icon-1 {
    height: 89px;
    width: 89px;
    margin-top: -197px;
    margin-right: 48px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-1 .u-image-1 {
    width: 457px;
  }

  .u-section-1 .u-image-2 {
    width: 170px;
    height: 170px;
    margin-top: 30px;
  }

  .u-section-1 .u-icon-1 {
    height: 100px;
    width: 100px;
    margin-top: -159px;
    margin-right: 132px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 127px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 411px;
  }

  .u-section-1 .u-image-1 {
    width: 310px;
    height: 419px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 0 0 auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 656px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 52px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 39px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 52px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 780px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px auto 70px 2px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 640px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 80px;
  padding-right: 80px;
}

.u-section-2 .u-text-1 {
  position: relative;
  font-size: 3rem;
  margin: 148px 0 0;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 54px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 640px;
}

.u-section-2 .u-group-1 {
  width: 380px;
  min-height: 436px;
  height: auto;
  margin: 102px auto 102px 55px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 38px;
}

.u-section-2 .u-text-3 {
  margin: 41px 20px 0 0;
}

.u-section-2 .u-link-1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.11111rem;
  margin: 38px auto 0 0;
}

.u-section-2 .u-link-2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.11111rem;
  margin: 40px auto 0 0;
}

.u-section-2 .u-link-3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.11111rem;
  margin: 40px auto 0 0;
}

.u-section-2 .u-link-4 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.11111rem;
  margin: 40px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 40px auto 41px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 39px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 657px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 66px;
    padding-right: 66px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -390px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-2 .u-group-1 {
    width: 313px;
    margin-top: 65px;
    margin-bottom: 65px;
    margin-left: auto;
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 31px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 10px;
    margin-left: 1px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 689px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 42px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -422px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-2 .u-group-1 {
    width: 240px;
    min-height: 393px;
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 30px;
    margin-right: 10px;
  }

  .u-section-2 .u-link-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-link-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-link-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-link-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1307px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 625px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -358px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 607px;
  }

  .u-section-2 .u-group-1 {
    width: 400px;
    min-height: 436px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 41px;
    margin-right: 5px;
  }

  .u-section-2 .u-link-1 {
    font-size: 1.11111rem;
  }

  .u-section-2 .u-link-2 {
    font-size: 1.11111rem;
  }

  .u-section-2 .u-link-3 {
    font-size: 1.11111rem;
  }

  .u-section-2 .u-link-4 {
    font-size: 1.11111rem;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 41px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1252px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-bottom: 65px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 737px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    margin-top: -486px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 514px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin: 0 0 27px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 29px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 1px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 680px;
}

.u-section-3 .u-group-1 {
  min-height: 232px;
  height: auto;
  width: 688px;
  margin: 70px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  position: relative;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  width: 82px;
  height: 82px;
  margin: -73px 50px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 20px auto 60px 0;
}

.u-section-3 .u-image-2 {
  background-image: url("images/5t.jpg");
  min-height: 318px;
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-image-3 {
  background-image: url("images/12.jpg");
  min-height: 318px;
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-image-4 {
  background-image: url("images/13.png");
  min-height: 318px;
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-image-5 {
  background-image: url("images/x.jpg");
  min-height: 318px;
  background-position: 50% 50%;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 624px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    min-height: 238px;
  }

  .u-section-3 .u-image-3 {
    min-height: 238px;
  }

  .u-section-3 .u-image-4 {
    min-height: 238px;
  }

  .u-section-3 .u-image-5 {
    min-height: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 350px;
  }

  .u-section-3 .u-image-3 {
    min-height: 350px;
  }

  .u-section-3 .u-image-4 {
    min-height: 350px;
  }

  .u-section-3 .u-image-5 {
    min-height: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2168px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 5px;
  }

  .u-section-3 .u-image-2 {
    min-height: 462px;
  }

  .u-section-3 .u-image-3 {
    min-height: 462px;
  }

  .u-section-3 .u-image-4 {
    min-height: 462px;
  }

  .u-section-3 .u-image-5 {
    min-height: 462px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1499px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 1px;
  }

  .u-section-3 .u-image-2 {
    min-height: 347px;
  }

  .u-section-3 .u-image-3 {
    min-height: 346px;
  }

  .u-section-3 .u-image-4 {
    min-height: 347px;
  }

  .u-section-3 .u-image-5 {
    min-height: 346px;
  }
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) !important;
}

.u-section-3 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-3.u-image-3.u-image-3:hover {
  transform: scale(1.1) !important;
}

.u-section-3 .u-image-3.u-image-3.u-image-3.hover {
  transform: scale(1.1) !important;
}

.u-section-3 .u-container-layout:hover .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-4,
.u-section-3 .u-image-4:before,
.u-section-3 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-4.u-image-4.u-image-4:hover {
  transform: scale(1.1) !important;
}

.u-section-3 .u-image-4.u-image-4.u-image-4.hover {
  transform: scale(1.1) !important;
}

.u-section-3 .u-container-layout:hover .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-5,
.u-section-3 .u-image-5:before,
.u-section-3 .u-image-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-5.u-image-5.u-image-5:hover {
  transform: scale(1.1) !important;
}

.u-section-3 .u-image-5.u-image-5.u-image-5.hover {
  transform: scale(1.1) !important;
}

.u-section-3 .u-container-layout:hover .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 462px;
}

.u-section-4 .u-group-1 {
  min-height: 322px;
  height: auto;
  margin: 70px auto 70px 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 11px;
  padding-right: 11px;
}

.u-section-4 .u-line-1 {
  height: 111px;
  transform-origin: center top 0px;
  width: 4px;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-1 {
  margin: -111px 9px 0 38px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 9px 0 38px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 31px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-line-1 {
    transform-origin: center top;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-4 .u-group-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
  min-height: 493px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 56px 0;
}

.u-section-5 .u-image-1 {
  min-height: 407px;
  background-image: url("images/Untitled8.jpg");
  background-position: 50% 0%;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
  min-height: 407px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin: 117px 0;
}

.u-section-5 .u-image-2 {
  min-height: 407px;
  background-image: url("images/Untitled7.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 440px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 370px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 17px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.88889rem;
    margin-top: 110px;
    margin-bottom: 110px;
  }

  .u-section-5 .u-image-2 {
    min-height: 370px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 332px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 272px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 11px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .u-section-5 .u-image-2 {
    min-height: 272px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 1721px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 712px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 453px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 21px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: 7px;
    margin-bottom: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 466px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 1307px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 505px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 22px;
    padding-right: 18px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 31px;
    margin-bottom: 43px;
  }

  .u-section-5 .u-image-2 {
    min-height: 299px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1160px;
}

.u-section-6 .u-group-1 {
  width: 753px;
  min-height: 279px;
  height: auto;
  margin: 50px auto 0 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  font-size: 3.77778rem;
  margin: 18px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 28px auto 57px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/p1desktop_min2.jpg");
  background-position: 50% 50%;
  min-height: 383px;
}

.u-section-6 .u-image-2 {
  background-image: url("images/tailwindwomensshortsleeverunningtopNLncjr.jpg");
  background-position: 50% 0%;
  min-height: 383px;
}

.u-section-6 .u-image-3 {
  background-image: url("images/Untitled4.jpg");
  background-position: 50% 50%;
  min-height: 383px;
}

.u-section-6 .u-image-4 {
  background-image: url("images/Untitled5.jpg");
  background-position: 50% 50%;
  min-height: 383px;
}

.u-section-6 .u-image-5 {
  background-image: url("images/s.jpg");
  background-position: 50% 50%;
  min-height: 383px;
}

.u-section-6 .u-image-6 {
  background-image: url("images/Untitled6.jpg");
  background-position: 50% 50%;
  min-height: 383px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 363px;
  }

  .u-section-6 .u-image-2 {
    min-height: 363px;
  }

  .u-section-6 .u-image-3 {
    min-height: 363px;
  }

  .u-section-6 .u-image-4 {
    min-height: 340px;
  }

  .u-section-6 .u-image-5 {
    min-height: 340px;
  }

  .u-section-6 .u-image-6 {
    min-height: 340px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2574px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-image-1 {
    min-height: 488px;
  }

  .u-section-6 .u-image-2 {
    min-height: 488px;
  }

  .u-section-6 .u-image-3 {
    min-height: 488px;
  }

  .u-section-6 .u-image-4 {
    min-height: 457px;
  }

  .u-section-6 .u-image-5 {
    min-height: 457px;
  }

  .u-section-6 .u-image-6 {
    min-height: 457px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1766px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3.77778rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 383px;
  }

  .u-section-6 .u-image-2 {
    min-height: 383px;
  }

  .u-section-6 .u-image-3 {
    min-height: 383px;
  }

  .u-section-6 .u-image-4 {
    min-height: 383px;
  }

  .u-section-6 .u-image-5 {
    min-height: 383px;
  }

  .u-section-6 .u-image-6 {
    min-height: 383px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 501px;
}

.u-section-7 .u-group-1 {
  min-height: 439px;
  height: auto;
  width: 878px;
  margin: 31px auto;
}

.u-section-7 .u-text-1 {
  margin: 70px 64px 0;
}

.u-section-7 .u-image-1 {
  width: 563px;
  height: 120px;
  margin: 62px auto 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 724px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: 45px;
    margin-left: 53px;
    margin-right: 53px;
    font-size: 2.25rem;
  }

  .u-section-7 .u-image-1 {
    width: 464px;
    height: 99px;
    margin-bottom: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    min-height: 389px;
    margin-top: 56px;
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    margin-top: 70px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-7 .u-image-1 {
    width: 356px;
    height: 76px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    min-height: 439px;
    margin-top: 31px;
    margin-bottom: 31px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-image-1 {
    width: 333px;
    height: 71px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 5px;
    margin-right: 5px;
  }
} .u-section-8 {
  background-image: none;
  min-height: 783px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-image-1 {
  min-height: 783px;
  background-image: url("images/Untitled10.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 783px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 71px;
  padding-right: 71px;
}

.u-section-8 .u-text-1 {
  margin: 122px 9px 0;
}

.u-section-8 .u-link-1 {
  padding-bottom: 2px;
  margin: 27px 9px 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 886px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 886px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 886px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 66px;
    padding-right: 66px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-link-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 783px;
  }

  .u-section-8 .u-image-1 {
    min-height: 783px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 783px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 42px;
    padding-right: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1717px;
  }

  .u-section-8 .u-image-1 {
    min-height: 849px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 868px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#canvas{
  position: absolute;
  top: 6px;
}